<!DOCTYPE html>
<html lang="ru">
<head>
		<meta http-equiv="Content-Type" content="text/html" 
charset="UTF-8">
		<title>Научно-исследовательская деятельность НИИ</title>
</head>
<body>
		<h1>Сотрудники</h1>
		{% for employees in employeess %}
		<div>
				<h2>{{ employees.first_name }}</h2>
				<p>{{ employees.last_name }}</p>
				<p>{{ employees.middle_name }}</p>
				<p>{{ employees.num_ser }}</p>
				<p>{{ employees.inn }}</p>
				<p>{{ employees.position }}</p>
				<p>{{ employees.data }}</p>
		</div>
		
		<div>
				<h2>{{ employees.name }}</h2>
				<p>{{ employees.start_date }}</p>
				<p>{{ employees.end_date }}</p>
				<p>{{ employees.amount_of_financing }}</p>
		</div>
		{% endfor %}

		<h1>Проекты</h1>
		{% for projects in projectss %}
		<div>
				<h2>{{ projects.name }}</h2>
				<p>{{ projects.start_date }}</p>
				<p>{{ projects.end_date }}</p>
				<p>{{ projects.amount_of_financing }}</p>
		</div>
		
		<div>
				<h2>{{ projects.name }}</h2>
				<p>{{ projects.start_date }}</p>
				<p>{{ projects.end_date }}</p>
				<p>{{ projects.amount_of_financing }}</p>
		</div>
		{% endfor %}
</body>
</html>